<h1>Users</h1>
<!-- users/index.html.erb -->

<div class="list-group">
  <% @users.each do |user| %>
    <%= link_to user.email, user_path(office_id: user.office_id, id: user.id), class: 'list-group-item list-group-item-action' %>
  <% end %>
</div>
